
*.user
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/libMultiImageFilter.so
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.5/CMakeCCompiler.cmake
build/CMakeFiles/3.15.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.5/CMakeSystem.cmake
build/CMakeFiles/3.15.5/CompilerIdC/a.out
build/CMakeFiles/3.15.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.5/CompilerIdCXX/a.out
build/CMakeFiles/3.15.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MultiImageFilter.dir/build.make
build/CMakeFiles/MultiImageFilter.dir/cmake_clean.cmake
build/CMakeFiles/MultiImageFilter.dir/CXX.includecache
build/CMakeFiles/MultiImageFilter.dir/depend.internal
build/CMakeFiles/MultiImageFilter.dir/depend.make
build/CMakeFiles/MultiImageFilter.dir/DependInfo.cmake
build/CMakeFiles/MultiImageFilter.dir/flags.make
build/CMakeFiles/MultiImageFilter.dir/link.txt
build/CMakeFiles/MultiImageFilter.dir/progress.make
build/CMakeFiles/MultiImageFilter.dir/MultiImageFilter_autogen/mocs_compilation.cpp.o
build/CMakeFiles/MultiImageFilter.dir/home/gmatczak/Dropbox/Programowanie/C++/QT/QtGeneticOptimization/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/main.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/multiimagefilter.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/basefilter.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/color.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/gaussianblur.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/medianblur.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/morphologyoperation.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/none.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/resize.cc.o
build/CMakeFiles/MultiImageFilter.dir/src/filters/threshold.cc.o
build/CMakeFiles/MultiImageFilter_autogen.dir/AutogenInfo.cmake
build/CMakeFiles/MultiImageFilter_autogen.dir/AutogenOldSettings.txt
build/CMakeFiles/MultiImageFilter_autogen.dir/build.make
build/CMakeFiles/MultiImageFilter_autogen.dir/cmake_clean.cmake
build/CMakeFiles/MultiImageFilter_autogen.dir/depend.internal
build/CMakeFiles/MultiImageFilter_autogen.dir/depend.make
build/CMakeFiles/MultiImageFilter_autogen.dir/DependInfo.cmake
build/CMakeFiles/MultiImageFilter_autogen.dir/ParseCache.txt
build/CMakeFiles/MultiImageFilter_autogen.dir/progress.make
build/MultiImageFilter_autogen/moc_predefs.h
build/MultiImageFilter_autogen/mocs_compilation.cpp
